*{
    margin: 0;
    padding: 0;
    background-color: rgb(16, 84, 148);
color: white;
}

section {
    /* background-color: brown; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#desingOfButton{
    justify-content: space-evenly;
    font-size: 30px;

}

.numbers{
    font-size: 20px;
    width: 25%;
margin: 10px;
}


.mathSing{
    font-size: 20px;
    padding: 2%;
    margin: 1%;
}